.forecast-hours {
  font-size: 19px;
  text-align: center;
  line-height: 20px;
  margin: 6px 0;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 8px 8px 12px rgba(150, 122, 122, 0.3);
}

.forecast-hours:hover {
  background-color: rgba(150, 122, 122, 0.3);
}

h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 10px;
  height: 100;
  margin: 0;
}

.weather-image {
  display: block;
  margin: 0 auto;
  width: 70px;
  padding-bottom: 15px;
}
