.Weather {
  background-image: url(https://cdn.pixabay.com/photo/2014/10/07/20/54/sunset-478396_960_720.jpg),
    linear-gradient(-100deg, #f52a45 0%, #faa75e 100%);
  padding: 43px;
  color: #fff;
  font-family: "Balsamiq Sans", cursive;
  border-radius: 5px;
}

.WeatherData h1 {
  height: 150px;
  margin-bottom: 0;
}

.WeatherData .temperature {
  font-size: 90px;
}

.WeatherData .scales {
  font-size: 30px;
  line-height: 2.7;
  position: relative;
  bottom: 43px;
}

.WeatherData .font-scale:hover {
  cursor: pointer;
  color: #48484a;
}

.WeatherData .font-scale {
  font-size: 30px;
  color: #fff;
}

.weather-icon {
  text-align: center;
  padding: 5px 0;
}

.WeatherData .w-condition {
  position: relative;
  left: 20px;
}

h2 {
  font-size: 45px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-size: 25px;
  text-align: center;
}

h3:first-letter {
  text-transform: capitalize;
}

.Search {
  margin: 20px auto;
}
